:root {
  --mainBlue: rgb(37, 136, 213);
  --lightBlue: #7cb9e8;
  --lightPeach: #e8b47c;
  --mainWhite: #fff;
  --mainDark: #222;
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Courier New", Courier, monospace !important;
  letter-spacing: 0.25rem !important;
}

.text-peach {
  color: var(--lightPeach);
}

.cart-icon {
  cursor: pointer;
  color: var(--lightPeach);
  font-size: 2rem;
}

.default-background {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(37, 136, 213, 0.5), rgba(37, 136, 213, 0.5));
  opacity: 1 !important;
  background-position: center;
  background-size: cover;
}
