:root {
  --mainBlue: rgb(37, 136, 213);
  --lightBlue: rgb(124, 185, 232);
  --lightPeach: #ff9019;
  --mainWhite: #fff;
  --mainDark: #222;
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Courier New", Courier, monospace !important;
  letter-spacing: 0.25rem !important;
}

.text-peach {
  color: var(--lightPeach);
}
.text-white {
  color: var(--mainWhite);
}

.text-blue {
  color: var(--mainBlue);
}

.fa-icon {
  font-size: 2rem;
  cursor: pointer;
}

.fa-icon:hover {
  color: var(--lightPeach);
}
.cart-icon {
  cursor: pointer;
  color: var(--lightPeach);
  font-size: 2rem;
}

.nav-item .nav-link {
  color: var(--mainBlue) !important;
}
.nav-link.linko:hover {
  color: var(--lightBlue) !important;
}

.default-background,
.about-background {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(37, 136, 213, 0.5), rgba(37, 136, 213, 0.5));
  opacity: 1 !important;
  background-position: center;
  background-size: cover;
}

.btn-peach {
  color: var(--mainBlue);
  border-color: var(--lightPeach);
  border-width: 2px;
}

.btn-peach:hover {
  color: var(--mainWhite);
  background: var(--mainBlue);
}

.footer {
  background: var(--mainBlue);
}

.about-background {
  min-height: 60vh;
}

.menu,
.contact {
  background: rgba(124, 185, 232, 0.3);
}
